.Memory{
    width: 800px;
    height: 572px;
    margin-top: 60px;
    border: 1px solid lightgray;
    border-radius: 10px;
}
.delete{
    background-color: white;
    color: black;
    width: 20px;
    height: 20px;
    align-items: center;
    padding: 5px;
    margin-top: -13px;
}
@media only screen and (max-width: 768px) {
    .Memory{
        width: 330px;
    }
}
.heading{
    font-size: 30px;
    color: gray;
    padding: 10px;
}
.data{
    height: 360px;
    padding:10px 30px ;
    overflow-y: scroll;
}
.item{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid lightgray;
}
.item2{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.time{
    font-size: 10px;
    color: gray;
}